<div class="row">
	<div class="span6 offset3">
		<div class="well">
		<p>
		  <%= @pin.description %>
		  <%= link_to 'Edit', edit_pin_path(@pin) %> |
		  <%= link_to 'Back', pins_path %> 
		</p>
	</div>
	</div>
</div>



